<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="IA Promoções description" name="description">
    <meta content="IA Promoções keywords" name="keywords">
    <meta content="keenthemes" name="author">
    <meta property="og:site_name" content="-CUSTOMER VALUE-">
    <meta property="og:title" content="-CUSTOMER VALUE-">
    <meta property="og:description" content="-CUSTOMER VALUE-">
    <meta property="og:type" content="website">
    <meta property="og:image" content="-CUSTOMER VALUE-"><!-- link to image for socio -->
    <meta property="og:url" content="-CUSTOMER VALUE-">
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <!-- Fonts START -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|PT+Sans+Narrow|Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all" rel="stylesheet" type="text/css"><!--- fonts for slider on the index page -->
    <!-- Fonts END -->
    @Styles.Render("~/Content/globalstyles")
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    @RenderSection("PageLevelStyles", false)
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME STYLES -->
    @Styles.Render("~/Content/themestyles")
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="ecommerce">
    <!-- BEGIN TOP BAR -->
    <div class="pre-header">
        <div class="container">
            <div class="row">
                <!-- BEGIN TOP BAR LEFT PART -->
                <div class="col-md-6 col-sm-6 additional-shop-info">
                    <ul class="list-unstyled list-inline">
                        <li><i class="fa fa-phone"></i><span>71 9999 9999</span></li>

                    </ul>
                </div>
                <!-- END TOP BAR LEFT PART -->
                <!-- BEGIN TOP BAR MENU -->
                <div class="col-md-6 col-sm-6 additional-nav">
                    <ul class="list-unstyled list-inline pull-right">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li><a href="/Account/MinhaConta/">Minha Conta</a></li>
                            <li>@User.Identity.Name</li>
                            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @class = "inline-block", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <li><button type="submit" class="acustomizado btn-link">Sair</button></li>
                            }
                        }
                        else
                        {
                            <li><a href="/Account/Entrar/">Entrar</a></li>
                        }
                    </ul>
                </div>
                <!-- END TOP BAR MENU -->
            </div>
        </div>
    </div>
    <!-- END TOP BAR -->
    <!-- BEGIN HEADER -->
    <div class="header">
        <div class="container">
            <a class="site-logo" href="/Home/Index/"><img src="~/assets/frontend/layout/img/logos/logo-shop-red.png" alt="Metronic Shop UI"></a>

            <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>

            <!-- BEGIN CART -->
            @if (User.Identity.IsAuthenticated)
            {
                <div class="top-cart-block">
                    <div class="top-cart-info">


                        @Html.Action("_Resumo", "Carrinho")



                        @*<a href="javascript:void(0);" class="top-cart-info-count">3 produtos</a>
                            <a href="javascript:void(0);" class="top-cart-info-value">r$ 1.260,43</a>*@
                    </div>
                    <i class="fa fa-shopping-cart"></i>


                    @Html.Action("_Lista", "Carrinho")




                    @*<div class="top-cart-content-wrapper">
                            <div class="top-cart-content">
                                @Html.Action("_Lista", "Carrinho")
                                <ul class="scroller" style="height: 250px;">
                                    <li>
                                        <a href="shop-item2.html"><img src="~/assets/frontend/pages/img/cart-img.jpg" alt="Produto" width="37" height="34"></a>
                                        <span class="cart-content-count">x 1</span>
                                        <strong><a href="shop-item2.html">Produto</a></strong>
                                        <em>$1230</em>
                                        <a href="javascript:void(0);" class="del-goods">&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="shop-item2.html"><img src="~/assets/frontend/pages/img/cart-img.jpg" alt="Produto" width="37" height="34"></a>
                                        <span class="cart-content-count">x 1</span>
                                        <strong><a href="shop-item2.html">Produto</a></strong>
                                        <em>$1230</em>
                                        <a href="javascript:void(0);" class="del-goods">&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="shop-item2.html"><img src="~/assets/frontend/pages/img/cart-img.jpg" alt="Produto" width="37" height="34"></a>
                                        <span class="cart-content-count">x 1</span>
                                        <strong><a href="shop-item2.html">Produto</a></strong>
                                        <em>$1230</em>
                                        <a href="javascript:void(0);" class="del-goods">&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="shop-item2.html"><img src="~/assets/frontend/pages/img/cart-img.jpg" alt="Produto" width="37" height="34"></a>
                                        <span class="cart-content-count">x 1</span>
                                        <strong><a href="shop-item2.html">Produto</a></strong>
                                        <em>$1230</em>
                                        <a href="javascript:void(0);" class="del-goods">&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="shop-item2.html"><img src="~/assets/frontend/pages/img/cart-img.jpg" alt="Produto" width="37" height="34"></a>
                                        <span class="cart-content-count">x 1</span>
                                        <strong><a href="shop-item2.html">Produto</a></strong>
                                        <em>$1230</em>
                                        <a href="javascript:void(0);" class="del-goods">&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="shop-item2.html"><img src="~/assets/frontend/pages/img/cart-img.jpg" alt="Produto" width="37" height="34"></a>
                                        <span class="cart-content-count">x 1</span>
                                        <strong><a href="shop-item2.html">Produto</a></strong>
                                        <em>$1230</em>
                                        <a href="javascript:void(0);" class="del-goods">&nbsp;</a>
                                    </li>
                                </ul>
                                <div class="text-right">
                                    <a href="/Carrinho/" class="btn btn-default">Ver Carrinho</a>
                                    <a href="/Carrinho/FecharPedido/" class="btn btn-primary">Finalizar Compra</a>
                                </div>
                            </div>
                        </div>*@
                </div>
            }
            <!--END CART -->
            <!-- BEGIN NAVIGATION -->
            <div class="header-navigation">
                <ul>
                    <li><a href="/Home/Index/">Home</a></li>
                    <li><a href="/Home/About/">Quem Somos</a></li>
                    <li><a href="/Produto/Lista/">Produtos</a></li>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li><a href="/Account/Cadastro/">Cadastro</a></li>
                    }
                    <li><a href="/Home/Faq/">Dúvidas</a></li>
                    <li><a href="/Home/Contato/">Contato</a></li>
                </ul>
            </div>
            <!-- END NAVIGATION -->
        </div>
    </div>
    <!-- Header END -->
    <!-- BEGIN PAGE -->
    @RenderBody()
    <!-- END PAGE -->
    <!-- BEGIN PRE-FOOTER -->
    <div class="pre-footer">
        <div class="container">
            <div class="row">
                <!-- BEGIN BOTTOM ABOUT BLOCK -->
                <div class="col-md-3 col-sm-6 pre-footer-col">
                    <h2>Sobre Nós</h2>
                    <p>
                        O IA Promoções é o primeiro outlet center do Carnaval de Salvador. Se cadastre pelo site, aplicativo ou através de um dos nossos promoters oficiais e aproveite as promoções! Lembrando que os lotes tem quantidade e prazos limitados.
                    </p>
                    <p>Se adiante e tenha um ótimo Carnaval.</p>
                </div>
                <!-- END BOTTOM ABOUT BLOCK -->
                <!-- BEGIN BOTTOM INFO BLOCK -->
                <div class="col-md-3 col-sm-6 pre-footer-col">
                    <h2>Informações</h2>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-angle-right"></i> <a href="#">Informações de Entrega</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="#">Serviço ao Consumidor</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="/Home/Contato/">Contato</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="/Home/PoliticaPrivacidade/">Política de Privacidade</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="#">Metódos de Pagamento</a></li>
                    </ul>
                </div>
                <!-- END INFO BLOCK -->
                <!-- BEGIN TWITTER BLOCK -->
                <div class="col-md-3 col-sm-6 pre-footer-col">
                    <h2 class="margin-bottom-0">Últimos Tweets</h2>
                    <a class="twitter-timeline" href="https://twitter.com/twitterapi" data-tweet-limit="1" data-theme="dark" data-link-color="#57C8EB" data-widget-id="573133819106209792" data-chrome="noheader nofooter noscrollbar noborders transparent">Carregando tweets por IAPromoções...</a>
                </div>
                <!-- END TWITTER BLOCK -->
                <!-- BEGIN BOTTOM CONTACTS -->
                <div class="col-md-3 col-sm-6 pre-footer-col">
                    <h2>Nossos Contatos</h2>
                    <address class="margin-bottom-40">
                        Rua do teste, 123<br>
                        Salvador, BA<br>
                        Telefone: 300 323 3456<br>
                        E-mail: <a href="mailto:info@iapromocoes.com.br">info@iapromocoes.com.br</a><br>
                        Skype: <a href="skype:iapromocoes">iapromocoes</a>
                    </address>
                </div>
                <!-- END BOTTOM CONTACTS -->
            </div>
            <hr>
            <div class="row">
                <!-- BEGIN SOCIAL ICONS -->
                <div class="col-md-5 col-sm-5">
                    <ul class="social-icons">
                        <li><a class="rss" data-original-title="rss" href="#"></a></li>
                        <li><a class="facebook" data-original-title="facebook" href="#"></a></li>
                        <li><a class="twitter" data-original-title="twitter" href="#"></a></li>
                        <li><a class="googleplus" data-original-title="googleplus" href="#"></a></li>
                        <li><a class="linkedin" data-original-title="linkedin" href="#"></a></li>
                        <li><a class="youtube" data-original-title="youtube" href="#"></a></li>
                        <li><a class="vimeo" data-original-title="vimeo" href="#"></a></li>
                        <li><a class="skype" data-original-title="skype" href="#"></a></li>
                    </ul>
                </div>
                <!-- END SOCIAL ICONS -->
                <!-- BEGIN NEWLETTER -->
                <div class="col-md-7 col-sm-7">
                    <div class="pre-footer-subscribe-box pull-right">
                        <h2>Receba Nossas Promoções</h2>
                        <form action="#">
                            <div class="input-group">
                                <input type="text" placeholder="seuemail@email.com.br" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">Cadastre-se</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- END NEWLETTER -->
            </div>
        </div>
    </div>
    <!-- END PRE-FOOTER -->
    <!-- BEGIN FOOTER -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <!-- BEGIN COPYRIGHT -->
                <div class="col-md-6 col-sm-6 padding-top-10">
                    @DateTime.Now.Year &copy; IA Promoções. Todos os direitos reservados.
                </div>
                <!-- END COPYRIGHT -->
                <!-- BEGIN PAYMENTS -->
                <div class="col-md-6 col-sm-6">
                    <ul class="list-unstyled list-inline pull-right">
                        <li><img src="~/assets/frontend/layout/img/payments/american-express.jpg" alt="We accept American Express" title="We accept American Express"></li>
                        <li><img src="~/assets/frontend/layout/img/payments/MasterCard.jpg" alt="We accept MasterCard" title="We accept MasterCard"></li>
                        <li><img src="~/assets/frontend/layout/img/payments/PayPal.jpg" alt="We accept PayPal" title="We accept PayPal"></li>
                        <li><img src="~/assets/frontend/layout/img/payments/visa.jpg" alt="We accept Visa" title="We accept Visa"></li>
                    </ul>
                </div>
                <!-- END PAYMENTS -->
            </div>
        </div>
    </div>
    <!-- END FOOTER -->
    <!-- Load javascripts at bottom, this will reduce page load time -->
    <!-- BEGIN CORE PLUGINS (REQUIRED FOR ALL PAGES) -->
    <!--[if lt IE 9]>
    <script src="~/assets/global/plugins/respond.min.js"></script>
    <![endif]-->
    @Scripts.Render("~/bundles/coreplugins")
    @Scripts.Render("~/bundles/jqueryval")
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->
    @RenderSection("PageLevelPlugins", required: false)

    <script type="text/javascript">
        jQuery(document).ready(function () {

        });
    </script>
    <!-- END PAGE LEVEL JAVASCRIPTS -->
    @RenderSection("PageLevelScripts", required: false)
    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>