@model IAPromocoes.Application.ViewModels.PedidoViewModel

@{
    ViewBag.Title = "Finalizar";
    Layout = "~/Views/Shared/__LayoutExterno.cshtml";

    string currentUrl = HttpContext.Current.Request.Url.ToString().ToLower();
}

@section PageLevelStyles {
    <link href="~/assets/global/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet">
    <link href="~/assets/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.css" rel="stylesheet">
}


<div class="main">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/Home/Index/">Home</a></li>
            <li class="active">Finalizar Compra</li>
        </ul>
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
            <!-- BEGIN CONTENT -->
            <div class="col-md-12 col-sm-12">
                <h1>Finalizar Compra</h1>
                <!-- BEGIN CHECKOUT PAGE -->
                <div class="panel-group checkout-page accordion scrollable" id="checkout-page">
                    <!-- BEGIN CHECKOUT -->
                    @*<div id="checkout" class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#checkout-page" href="#checkout-content" class="accordion-toggle">
                                        Passo 1: Opções para finalizar carrinho
                                    </a>
                                </h2>
                            </div>
                            <div id="checkout-content" class="panel-collapse collapse in">
                                <div class="panel-body row">
                                    <div class="col-md-6 col-sm-6">
                                        <h3>Novo Cliente</h3>
                                        <p>Opções para finalizar carrinho:</p>
                                        <div class="radio-list">
                                            <label>
                                                <input type="radio" name="account" value="register"> Novo Cadastro
                                            </label>
                                            <label>
                                                <input type="radio" name="account" value="guest"> Finalizar como visitante
                                            </label>
                                        </div>
                                        <p>By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</p>
                                        <button class="btn btn-primary" type="submit" data-toggle="collapse" data-parent="#checkout-page" data-target="#payment-address-content">Continuar</button>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <h3>Já sou cliente</h3>
                                        <p>Eu tenho login e senha de acesso.</p>
                                        <form role="form" action="#">
                                            <div class="form-group">
                                                <label for="email-login">E-Mail</label>
                                                <input type="text" id="email-login" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="password-login">Senha</label>
                                                <input type="password" id="password-login" class="form-control">
                                            </div>
                                            <a href="#">Esqueceu a Senha?</a>
                                            <div class="padding-top-20">
                                                <button class="btn btn-primary" type="submit">Entrar</button>
                                            </div>
                                            <hr>
                                            <div class="login-socio">
                                                <p class="text-muted">ou entre usando:</p>
                                                <ul class="social-icons">
                                                    <li><a href="#" data-original-title="facebook" class="facebook" title="facebook"></a></li>
                                                    <li><a href="#" data-original-title="Twitter" class="twitter" title="Twitter"></a></li>
                                                    <li><a href="#" data-original-title="Google Plus" class="googleplus" title="Google Plus"></a></li>
                                                    <li><a href="#" data-original-title="Linkedin" class="linkedin" title="LinkedIn"></a></li>
                                                </ul>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    <!-- END CHECKOUT -->
                    <!-- BEGIN PAYMENT ADDRESS -->
                    @*<div id="payment-address" class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#checkout-page" href="#payment-address-content" class="accordion-toggle">
                                        Passo 2: Endereço de Cobrança
                                    </a>
                                </h2>
                            </div>
                            <div id="payment-address-content" class="panel-collapse collapse in">
                                <div class="panel-body row">
                                    <div class="col-md-6 col-sm-6">
                                        <h3>Dados Pessoais</h3>
                                        <div class="form-group">
                                            <label for="firstname">Nome <span class="require">*</span></label>
                                            <input type="text" id="firstname" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="lastname">Sobrenome <span class="require">*</span></label>
                                            <input type="text" id="lastname" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="email">E-Mail <span class="require">*</span></label>
                                            <input type="text" id="email" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="telephone">Telefone <span class="require">*</span></label>
                                            <input type="text" id="telephone" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="fax">Celular</label>
                                            <input type="text" id="fax" class="form-control">
                                        </div>

                                        <h3>Sua Senha</h3>
                                        <div class="form-group">
                                            <label for="password">Senha <span class="require">*</span></label>
                                            <input type="password" id="password" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="password-confirm">Confirmar Senha <span class="require">*</span></label>
                                            <input type="text" id="password-confirm" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <h3>Seu Endereço</h3>
                                        <div class="form-group">
                                            <label for="post-code">CEP <span class="require">*</span></label>
                                            <input type="text" id="post-code" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="company">Logradouro</label>
                                            <input type="text" id="company" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="address2">Complemento</label>
                                            <input type="text" id="address2" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="region-state">Estado <span class="require">*</span></label>
                                            <select class="form-control input-sm" id="region-state">
                                                <option value=""> --- Selecione --- </option>
                                                <option value="3513">Aberdeen</option>
                                                <option value="3514">Aberdeenshire</option>
                                                <option value="3515">Anglesey</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="city">Cidade <span class="require">*</span></label>
                                            <input type="text" id="city" class="form-control">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="col-md-12">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Gostaria de cadastrar a newsletter da IA Promoções.
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" checked="checked"> Meu endereço de entrega e cobrança são os mesmos.
                                            </label>
                                        </div>
                                        <button class="btn btn-primary  pull-right" type="submit" data-toggle="collapse" data-parent="#checkout-page" data-target="#shipping-address-content" id="button-payment-address">Continuar</button>
                                        <div class="checkbox pull-right">
                                            <label>
                                                <input type="checkbox">Eu li e concordo com a <a title="Privacy Policy" href="#">Política de Privacidade</a> &nbsp;&nbsp;&nbsp;
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    <!-- END PAYMENT ADDRESS -->
                    <!-- BEGIN SHIPPING ADDRESS -->
                    @*<div id="shipping-address" class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#checkout-page" href="#shipping-address-content" class="accordion-toggle">
                                        Passo 3: Endereço de Entrega
                                    </a>
                                </h2>
                            </div>
                            <div id="shipping-address-content" class="panel-collapse collapse in">
                                <div class="panel-body row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label for="firstname-dd">Nome <span class="require">*</span></label>
                                            <input type="text" id="firstname-dd" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="lastname-dd">Sobrenome <span class="require">*</span></label>
                                            <input type="text" id="lastname-dd" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="email-dd">E-Mail <span class="require">*</span></label>
                                            <input type="text" id="email-dd" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="telephone-dd">Telefone <span class="require">*</span></label>
                                            <input type="text" id="telephone-dd" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="fax-dd">Celular</label>
                                            <input type="text" id="fax-dd" class="form-control">
                                        </div>

                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label for="post-code-dd">CEP <span class="require">*</span></label>
                                            <input type="text" id="post-code-dd" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="address1-dd">Logradouro</label>
                                            <input type="text" id="address1-dd" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="address2-dd">Complemento</label>
                                            <input type="text" id="address2-dd" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="region-state-dd">Estado <span class="require">*</span></label>
                                            <select class="form-control input-sm" id="region-state-dd">
                                                <option value=""> --- Selecione --- </option>
                                                <option value="3513">Aberdeen</option>
                                                <option value="3514">Aberdeenshire</option>
                                                <option value="3515">Anglesey</option>
                                                <option value="3516">Angus</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="city-dd">Cidade <span class="require">*</span></label>
                                            <input type="text" id="city-dd" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <button class="btn btn-primary  pull-right" type="submit" id="button-shipping-address" data-toggle="collapse" data-parent="#checkout-page" data-target="#shipping-method-content">Continuar</button>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    <!-- END SHIPPING ADDRESS -->
                    <!-- BEGIN SHIPPING METHOD -->
                    @*<div id="shipping-method" class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#checkout-page" href="#shipping-method-content" class="accordion-toggle">
                                        Passo 4: Forma de Entrega
                                    </a>
                                </h2>
                            </div>
                            <div id="shipping-method-content" class="panel-collapse collapse">
                                <div class="panel-body row">
                                    <div class="col-md-12">
                                        <p>
                                            Por favor, selecione o método de entrega preferido para esta compra.
                                        </p>
                                        <h4>Taxa fixa</h4>
                                        <div class="radio-list">
                                            <label>
                                                <input type="radio" name="FlatShippingRate" value="FlatShippingRate"> Entrega com preço fixo
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <label for="delivery-comments">Adicionar comentários sobre seu pedido</label>
                                            <textarea id="delivery-comments" rows="8" class="form-control"></textarea>
                                        </div>
                                        <button class="btn btn-primary  pull-right" type="submit" id="button-shipping-method" data-toggle="collapse" data-parent="#checkout-page" data-target="#payment-method-content">Continuar</button>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    <!-- END SHIPPING METHOD -->
                    <!-- BEGIN PAYMENT METHOD -->
                    <div id="payment-method" class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                <a data-toggle="collapse" data-parent="#checkout-page" href="#payment-method-content" class="accordion-toggle">
                                    Passo 1: Forma de Pagamento
                                </a>
                            </h2>
                        </div>
                        <div id="payment-method-content" class="panel-collapse collapse in">
                            <div class="panel-body row">
                                <div class="col-md-12">
                                    <p>Por favor, selecione o método de pagamento preferido para esta compra.</p>
                                    <div class="radio-list">
                                        <label>
                                            <input type="radio" name="CashOnDelivery" value="pe"> Pagamento na entrega
                                        </label>
                                        <label>
                                            <input type="radio" name="CashOnDelivery" value="cc"> Cartão de Crédito
                                        </label>
                                        <label>
                                            <input type="radio" name="CashOnDelivery" value="bb"> Boleto Bancário
                                        </label>
                                        <label>
                                            <input type="radio" name="CashOnDelivery" value="tb"> Transferência Bancária
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label for="delivery-payment-method">Adicionar comentários sobre seu pedido</label>
                                        <textarea id="delivery-payment-method" rows="8" class="form-control"></textarea>
                                    </div>
                                    <button class="btn btn-primary  pull-right" type="submit" id="button-payment-method" data-toggle="collapse" data-parent="#checkout-page" data-target="#confirm-content">Continuar</button>
                                    <div class="checkbox pull-right">
                                        <label>
                                            <input type="checkbox"> Eu li e concordo com os <a title="Terms & Conditions" href="#">Termos e Condições </a> &nbsp;&nbsp;&nbsp;
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END PAYMENT METHOD -->
                    <!-- BEGIN RESUMO -->
                    <div id="resumo" class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                <a data-toggle="collapse" data-parent="#checkout-page" href="#resumo-content" class="accordion-toggle">
                                    Passo 2: Resumo
                                </a>
                            </h2>
                        </div>
                        <div id="resumo-content" class="panel-collapse collapse">
                            <div class="panel-body row">
                                <div class="col-md-12 clearfix">
                                    <p>
                                        <strong>Pagamento com cartão de crédito.</strong>
                                    </p>
                                    <p>
                                        &nbsp;
                                    </p>
                                </div>
                                <div class="col-md-12 clearfix">
                                    @Html.Action("_CarrinhoPadrao")

                                    <div class="clearfix"></div>

                                    @*<button class="btn btn-primary" type="submit" id="button-resumo-method" data-toggle="collapse" data-parent="#checkout-page" data-target="#confirm-content">Continuar</button>*@

                                    @using (Html.BeginForm("FecharPedido", "Carrinho", FormMethod.Post))
                                    {
                                        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)

                                        @Html.Hidden("IdPedido", Guid.NewGuid())
                                        @Html.Hidden("IdCliente", Guid.Parse("64410ee8-d8d3-4a9a-856d-0924f7f790b8"))
                                        @Html.Hidden("IdStatusPedido", 3)
                                        @Html.Hidden("IdFormaDePagamento", 1)
                                        @Html.Hidden("DataPedido", DateTime.Now.ToShortDateString())
                                        @Html.Hidden("HoraPedido", DateTime.Now.ToShortTimeString())
                                        @Html.Hidden("ValorTotal", 0)
                                        @Html.Hidden("DtCadastro", DateTime.Now)
                                        @Html.Hidden("OutrasInformacoes", "Teste 123...")

                                        <input class="btn btn-primary pull-right" type="submit" id="button-confirm" value="Confirmar Pedido" />
                                        @*<button type="button" class="btn btn-default pull-right margin-right-20">Cancelar</button>*@

                                    }


                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END RESUMO -->
                    <!-- BEGIN CONFIRM -->
                    <div id="confirm" class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                <a data-toggle="collapse" data-parent="#checkout-page" href="#confirm-content" class="accordion-toggle">
                                    Passo 3: Confirmação
                                </a>
                            </h2>
                        </div>
                        <div id="confirm-content" class="panel-collapse collapse">
                            <div class="panel-body row">
                                <div class="col-md-12 clearfix">
                                    <h3>Leia com atenção.</h3>
                                    <p>
                                        <strong>Pagamento com cartão de crédito.</strong>
                                    </p>
                                    <p>
                                        Ao iniciar o processo de pagamento, uma janela do PagSeguro se abrirá na qual será possível inserir os dados do cartão de crédito.
                                    </p>
                                    <p>
                                        Quando o pagamento foi finalizado, essa janela pode ser fechada sem problemas.
                                    </p>
                                    <p>
                                        Clique no botão abaixo para efetuar o pagamento!
                                    </p>
                                </div>

                                <div class="col-md-12 clearfix">

                                    @using (Html.BeginForm("Pagar", "Carrinho", FormMethod.Post))
                                    {
                                        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)

                                        @Html.Hidden("IdPedido", Guid.NewGuid())
                                        @Html.Hidden("IdCliente", Guid.Parse("64410ee8-d8d3-4a9a-856d-0924f7f790b8"))
                                        @Html.Hidden("IdStatusPedido", 3)
                                        @Html.Hidden("IdFormaDePagamento", 1)
                                        @Html.Hidden("DataPedido", DateTime.Now.ToShortDateString())
                                        @Html.Hidden("HoraPedido", DateTime.Now.ToShortTimeString())
                                        @Html.Hidden("ValorTotal", 0)
                                        @Html.Hidden("DtCadastro", DateTime.Now)
                                        @Html.Hidden("OutrasInformacoes", "Teste 123...")

                                        <input class="btn btn-primary pull-right" type="submit" id="button-confirm" value="Pagar Agora" />
                                        @*<button type="button" class="btn btn-default pull-right margin-right-20">Cancelar</button>*@

                                    }


                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END CONFIRM -->
                </div>
                <!-- END CHECKOUT PAGE -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
    </div>
</div>


@section PageLevelPlugins {
    <!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->
    <script src="~/assets/global/plugins/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script><!-- pop up -->
    <script src="~/assets/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.min.js" type="text/javascript"></script><!-- slider for products -->

    <script src="~/assets/frontend/layout/scripts/layout.js" type="text/javascript"></script>
}

@section PageLevelScripts {
    <script type="text/javascript">
        jQuery(document).ready(function () {
            Layout.init();
            Layout.initOWL();
            Layout.initTwitter();

            Layout.initFixHeaderWithPreHeader();
            Layout.initNavScrolling();
        });
    </script>
}