@model IEnumerable<IAPromocoes.Application.ViewModels.ProdutoPrecoViewModel>

<table class="table table-bordered table-hover">
    <thead>
        <tr role="row" class="heading">
            <th width="23%">
                Descrição
            </th>
            <th width="10%">
                Valor Unitário
            </th>
            <th width="8%">
                Instruções Valor
            </th>
            <th width="10%">
                Instruções Outros
            </th>
            <th width="10%">
                Quantidade
            </th>
            <th width="10%">
                Ativo?
            </th>
            <th width="10%">
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Descricao
                </td>
                <td>
                    @item.ValorUnitario
                </td>
                <td>
                    @item.InstrucoesValor
                </td>
                <td>
                    @item.InstrucoesOutros
                </td>
                <td>
                    @item.QtdProduto
                </td>
                <td>
                    @if (item.FlgAtivo)
                    {
                        <span class="label label-sm label-success">
                            @string.Format("Sim")
                        </span>
                    }
                    else
                    {
                        <span class="label label-sm label-warning">
                            @string.Format("Não")
                        </span>
                    }
                </td>
                <td>
                    @Html.ActionLink("Alterar", "_AltPreco", "ProdutoPreco", null, new { id = @item.IdProdutoPreco, @class = "btn green btn-xs edit-preco" })
                </td>
            </tr>
        }
    </tbody>
</table>



<script type="text/javascript">

    function ApagarPreco(idProdutoPreco) {
        if (confirm('Tem certeza de que deseja apagar este preço?')) {
            var idProd = document.getElementById('IdProduto');
            $.ajax(
            {
                type: "POST",
                url: "/ProdutoPreco/ExcluirPreco",
                contentType: "application/json",
                data: JSON.stringify({ id: idProdutoPreco }),
                dataType: 'json',
                processData: false,
                success:
                function (resultado) {
                    if (resultado == "OK")
                        $("#dvPartialListaPreco").load('/ProdutoPreco/GetPrecosProdutos?idProduto=' + idProd.value, function (html) { });
                    else
                        Metronic.alert({ type: 'danger', message: 'Ocorreu um erro. Favor tentar novamente.', closeInSeconds: 10, icon: 'warning' });
                },
            });
        }
        else
            return false;
    }

    

</script>
